@charset "UTF-8";
@import "../sass/Utils/variables";
@import "../sass/Utils/mixins";
@import "../sass/composants/coeur";
@import "../sass/composants/loader";

@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: Roboto-Regular;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1, h2 {
  font-family: "Shrikhand-Regular";
  font-weight: normal;
}
h3{
    font-family: "Roboto-Regular";
    border-bottom: 3px solid #4acbab;
    width: 45px;
    padding-bottom: 5px;
    margin-left: 15px;
    font-weight: normal;
    font-size: 18px;
    margin: 21px 0 16px 22px;
}

/***************header*************************/

.header__icon_back{
    opacity: 0.7;
    position: absolute;
    left: 25px;
    font-size: 18pt;
}
.header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: $box_shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

/****** tablette version min-width 768 pixels *****/



@media screen and (min-width: 768px){


h3{
 
width: 50%;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  font-weight: bold;
  border-bottom: 3px solid #4acbab;
  
}
.restaurant__menu{
  position: relative;
  background-color: #eeeeee;
}

.restaurant__title{
  display: flex;
  justify-content: center;
}
.link_footer:hover{
  @include transform_card;
}
.restaurant__picture__img {
  height: 50%;
  width: 100%;
  position: absolute;
  object-fit: fill;
  }
  .restaurant__subtitle{
    display: flex;

    justify-content: center;
   }
.list__footer {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.header__footer {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size:32px;
  }
}

/****** desktop version min-width 992 pixels *****/

@media screen and (min-width: 992px){
 
 h3{
   width: 50%;
   justify-content: center;
   display: flex;
 }
  .menu{
 display: flex;
 width: 32%;
}
.coeur{
  margin-left: 35px;
}

.restaurant__title {
    margin-left: 15px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    justify-content: center;
}

.restaurant__picture__img {
  height: 50%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  }
.restaurant__subtitle{
 display: flex;
 width: 100%;
 
}
.menu__entree{
 display: flex;
 width: 100%;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
.prev__menu{
 width: 100%;
}
.header__footer {
 display: flex;
 justify-content: center;
 font-weight: normal;
 font-size: 32px;
 }
}
/*************restaurant*********************/


.restaurant__picture{
      height: 255px;
  }
.restaurant__picture__img{
    height: 50%;
    width: 100%;
    position: absolute;
    object-fit: cover; 
   
}
.restaurant__menu{
    position: relative;
    background-color: #eeeeee;
    padding-top: 10px;
    border-radius: 40px 40px 0 0;
    padding-bottom: 2px;
    margin-top: 27px;
}
.restaurant__title{
    margin-left: 20px;
    font-size:14pt;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    justify-content: space-between;
}
.coeur{
  padding-right: 45px;
}
.restaurant__subtitle{
  padding-top: 12px;
}
.prev__menu{
    background-color: white;
    border-radius: 20px;
    display: flex;
   justify-content: space-between;
    margin: 10px;
    height:70px;
    align-items: center;
    box-shadow: $box_shadow;
    margin: 16px;
    overflow: hidden;
  

    &:hover{
      @include transform_card;
     
      box-shadow:5px 5px 25px -9px rgba(0,0,0,0.63);
    }
  }

/*animation d'apparition progressive du menu*/


.prev__menu {
  animation-name: shutter-in-bottom;
  animation-duration: 2.2s;
  animation-timing-function: ease;
  animation-delay: .5;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
 
}
@keyframes shutter-in-bottom {
  0%{
    transform: rotateX(-100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100%{
    transform: rotatey(0deg);
    transform-origin: bottom;
    opacity: 1;
    
  }
}
@for $i from 1 through 11 {
  .fade-#{$i} {
    animation-delay: $delay * $i;
  }
 
}
/**************menu************************/

.prev__menu__name{
    margin: 0 0 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.prev__menu_name_infos{
  width: 50px;
  flex: 1;
}

.prev__menu__infos{
    margin: 0 0 0 15px;
    padding-top: 5px;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  font-weight: bold;
}

/************checkbox*******************/

.prev__menu:hover  .box {
  width: 60px;
  }
.check{
  display: flex;
  justify-content: right;
}

.check_ico{
  color: white;
}
.prev__menu:hover .check_ico {
  font-size: 20px;
  color: white;
-webkit-animation: check_rotate 0.6s ease both;
	        animation: check_rotate 0.6s ease both;
}

/*************animation rotation icone check******************/

@keyframes check_rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.box{
    display: flex;
    background-color: #99E2D0;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: 0%;
    border-radius: 0 20px 20px 0;
    left: 100%;
    overflow: hidden;
    transition-duration: .5s;
}

.btn__order{
    background-image: $gradient;
    box-shadow: $box_shadow;
    padding: 15px 20px 15px 20px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 59px 87px 78px 87px;

    &:hover{
      background-image:$light_gradient;
      box-shadow: 5px 5px 5px #948e8e;

      @include btn_scale;
    }
}
.btn__order__text{
    color: white;
    display: flex;
    font-size: 14pt;
    justify-content: center;
}

/************************footer*********************/

footer {
    background-color: #383636;
    color: white;
    padding: 15px 20px 27px;
  }
  .mail{
    color: white;
  }
  .header__footer {
    font-family: "Shrikhand-Regular";
    font-weight: normal;
  font-size: 19px;
  }
  .link_footer{
    color: white;
   
  &:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }
}
  .list__footer {
    list-style: none;
    padding: 2px;
  }
  .fa-utensils,
  .fa-hands-helping {
    margin-right: 10px;
    font-size: small;
    width: 10px;
  }
  .list__item__footer {
    margin: 8px 0;
  }
  
