.coeur {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.coeur_vide {
  font-size: 25px;
  position: absolute;
  text-decoration: none;
  opacity: 0.5;
}

.coeur:hover .coeur_vide {
  opacity: 0;
  transition: all 0.5s linear 0s;
}

.coeur_plein {
  font-size: 25px;
  position: relative;
  text-decoration: none;
  opacity: 0;
}

.coeur:hover .coeur_plein {
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s linear 0s;
}

@-webkit-keyframes loader_page_end {
  0% {
    z-index: 50;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

@keyframes loader_page_end {
  0% {
    z-index: 50;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}
.box {
  width: 100%;
  background-color: rgba(175, 174, 174, 0.8);
}

.container {
  width: 100%;
  right: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: text-focus-in 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(18px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(18px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.container .loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-animation: SPIN 4s linear infinite;
          animation: SPIN 4s linear infinite;
  z-index: -1;
}

@-webkit-keyframes SPIN {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes SPIN {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, #fbfafc);
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #9356dc, 0 0 20px #9356dc, 0 0 30px #9356dc, 0 0 40px #9356dc, 0 0 50px #9356dc, 0 0 60px #9356dc, 0 0 70px #9356dc, 0 0 80px #9356dc, 0 0 90px #9356dc, 0 0 100px #9356dc;
}

.container .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #afaeae;
  border-radius: 50%;
}

.name {
  font-family: "Shrikhand", cursive;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
  -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
          animation: tracking-in-contract-bck 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 5px;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 5px;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.loading {
  position: relative;
  font-family: "shrikhand";
  text-transform: uppercase;
  overflow: hidden;
  /* background:linear-gradient(90deg, rgb(0, 0, 0),#9356dc,#ff79da );*/
  background: linear-gradient(90deg, black, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/************loader********************/
.loader_page {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  -webkit-animation: loader_page_end 1s 4s both;
          animation: loader_page_end 1s 4s both;
  opacity: 0.8;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
* a {
  text-decoration: none;
  color: black;
}
* h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
* h2 {
  font-size: 18pt;
}

/*************header**********************/
.header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 5px 5px 5px #c5c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

/*************form research*************************/
form.research {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 0 15px 20px;
  height: 65px;
  position: relative;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
}

.research__ico {
  width: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.research__input {
  font-weight: bold;
  background-color: #e6e6e6;
  border-style: none;
  margin-bottom: 2px;
}

.research-sublevel {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px;
}

.research-sublevel__title {
  margin: 0 70px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}

.research-sublevel__subtitle {
  margin-bottom: 25px;
  text-align: center;
  margin: 10px 30px 30px 30px;
  color: rgba(0, 0, 0, 0.555);
  font-size: 18px;
}

.research-sublevel__btn {
  color: white;
  font-size: 17px;
  padding: 17px 20px 17px 20px;
  border-radius: 35px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 5px 5px 5px #c5c0c0;
}
.research-sublevel__btn:hover {
  background-image: linear-gradient(0deg, #a66eeb, #f385d4);
  box-shadow: 5px 5px 5px #948e8e;
  transform: scale(1.01);
  transition: 0.2s;
}

/***************tutorial***************************/
.header__steps {
  margin-left: 20px;
  margin-top: 45px;
  position: relative;
  font-weight: 900;
}

.steps__list__item__number {
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

.steps__list__item__ico {
  font-size: 15px;
  margin-right: 20px;
  opacity: 0.5;
}

.phone {
  font-size: 22px;
}

.list {
  font-size: 20px;
}

.shop {
  font-size: 18px;
}

.steps__list__item__title {
  font-weight: bold;
}

.steps__list__item {
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #c5c0c0;
  align-items: center;
  height: 72px;
  margin-top: 30px;
}
.steps__list__item:hover {
  background-color: #f0e9f8;
  box-shadow: 5px 5px 5px #948e8e;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}
.steps__list__item:hover > .steps__list__item__ico {
  color: #9356dc;
  opacity: 1;
}

ol.steps__list {
  padding: 0;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 25px;
  margin-bottom: 65px;
}

/********section restaurant***********************/
.restaurant {
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.restaurant__title {
  padding-top: 50px;
  margin-left: 20px;
  font-weight: 900;
}

.card__restaurant {
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px #c5c0c0;
}
.card__restaurant:hover {
  box-shadow: 5px 5px 5px #948e8e;
  transform: scale(1.05);
  transition: 0.2s;
}

/*****************desktop version min-width 992 pixels***************/
@media screen and (min-width: 992px) {
  .research_and_step {
    display: flex;
    background-color: #eeeeee;
    height: 316px;
  }

  .research-sublevel {
    width: 50%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
  }

  .header__steps {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .steps__list {
    width: 100%;
  }

  .steps__list__item__ico {
    display: flex;
    position: relative;
    top: -10px;
  }

  ol.steps__list {
    display: flex;
    margin: 0;
  }

  .steps__list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
    height: 100px;
    padding: 10px 20px 0 20px;
    background-color: white;
  }
  .steps__list__item:hover {
    padding: 15px;
  }

  .steps__list__item__number {
    left: -5%;
    top: -27%;
    position: relative;
  }

  .steps__list__item__title {
    font-weight: bold;
    text-align: center;
  }

  .header_restaurant {
    justify-content: left;
    margin-left: 50px;
    display: flex;
  }

  .restaurant__title {
    font-size: 25px;
    margin-left: 15%;
  }

  .groupe_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card__restaurant {
    background-color: white;
    border-radius: 15px;
    margin: 30px;
    width: 100%;
    box-shadow: 5px 5px 5px #c5c0c0;
    display: flex;
    transform: scale(1.05);
    transition: 0.2s;
  }

  .restaurant__prev__img {
    height: 53%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .article__restaurant__prev {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .list__footer {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  }

  .header__footer {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 26px;
  }
}
/************************************/
/***************version tablette 768 pixels*******************/
@media screen and (min-width: 768px) {
  .groupe_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .restaurant__title {
    margin-left: 60px;
  }

  .article__restaurant__prev {
    width: 45%;
  }

  .link_footer:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }

  .list__footer {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  }

  .header__footer {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 32px;
  }
}
/*******************************************************/
.restaurant__prev__title {
  margin: 15px 0 0 15px;
}

.restaurant__prev__subtitle {
  margin: 0 0 15px 15px;
}

.restaurant__prev__img__label {
  font-size: 12pt;
  font-weight: bold;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 6px 10px 6px 10px;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 3px;
  -webkit-animation: label 2s steps(4, end) infinite both;
          animation: label 2s steps(4, end) infinite both;
  /*****************animation label**********************/
}

@-webkit-keyframes label {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes label {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.card__restaurant__img {
  position: relative;
}

.restaurant__prev__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.txt_ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coeur {
  margin-right: 15px;
}

/*************************footer**************************/
footer {
  background-color: #383636;
  color: white;
  padding: 30px 20px 27px;
}

.mail {
  color: white;
}

.header__footer {
  font-family: "Shrikhand", "cursive";
  font-weight: normal;
  font-size: 19px;
}

.link_footer {
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}
.link_footer:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.list__footer {
  list-style: none;
  padding: 2px;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 15px;
  font-size: small;
  width: 10px;
}

.list__item__footer {
  margin: 8px 0;
}/*# sourceMappingURL=style.css.map */