@import "./Utils/variables";
@import "./composants/coeur";
@import "./composants/loader";
@import "./Utils/mixins";

/************loader********************/

.loader_page{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  animation: loader_page_end 1s 4s both;
  opacity: 0.8;  
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  a {
    text-decoration: none;
    color: black;
  }


  h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
  }
  h2 {
    font-size: 16pt;
  }
}
/*************header**********************/

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: $box_shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

/*************form research*************************/

form.research {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 0 15px 50px;
  height: 65px;
  position: relative;
}
::placeholder{
  color: black;
  font-size: 16px;
  

}
.research__ico {
  width: 10px;
  margin-right: 15px;
  margin-bottom: 7px;
}
.research__input {
  font-weight: bold;
  background-color: #e6e6e6;
  border-style: none;
  margin-bottom: 2px;
}
.research-sublevel {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px 0;
}
  .research-sublevel__title {
    margin: 0 70px;
    text-align: center;
    font-weight: bold;
  }
.research-sublevel__subtitle {
  margin-bottom: 35px;
  text-align: center;
  margin-left: 30px;
}
.research-sublevel__btn {
  color: white;
  font-size: 15px;
  padding: 15px 25px 15px 25px;
  border-radius: 35px;
  border: none;
  text-decoration: none;
  background-image:$gradient;
  box-shadow: $box_shadow;

    &:hover{
      background-image: $light_gradient;
      box-shadow: 5px 5px 5px #948e8e;

        @include btn_scale;
    }
}

/***************tutorial***************************/

.header__steps {
  margin-left: 15px;
  margin-top: 30px;
  position: relative;
}
.steps__list__item__number{
  color: white;
  background-color: $couleur_1;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}
.steps__list__item__ico {
  font-size: 20px;
  margin-right: 20px;
  opacity: 0.5;

}
.steps__list__item__title {
  font-weight: bold;
}
.steps__list__item {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border-radius: 15px;
  box-shadow: $box_shadow;
  align-items: center;
  height: 70px;

    &:hover {
      background-color:  #f0e9f8;
      box-shadow: 5px 5px 5px #948e8e;
      cursor: pointer;

        @include step;
    }
    &:hover > .steps__list__item__ico{
      color: $couleur_1;
      opacity: 1;
    }
}
ol.steps__list {
  padding: 0;
  margin: 30px;
  margin-left: 25px;
  margin-bottom: 75px;
}

/********section restaurant***********************/

.restaurant {
  background-color: #e6e6e6;
  padding-bottom: 50px;
}
.restaurant__title {
  padding-top: 40px;
  margin-left: 15px;
}
.card__restaurant {
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: $box_shadow;

    &:hover{
      box-shadow: 5px 5px 5px #948e8e;
      transform: scale(1.05);
      transition: 0.2s;
    }
}

/*****************desktop version min-width 1024 pixels***************/

@media screen and (min-width: 992px){
.research_and_step{
  display: flex;  
  background-color: #eeeeee;
}

.research-sublevel{
  width: 50%;
  background-color:#eeeeee;
  display: flex;
  justify-content: center;
}

.header__steps {
  position: relative;
  display: flex;
  justify-content: center;
}

.steps__list {
  width: 100%;  
}
.steps__list__item__ico{
  display: flex;
  position: relative;
  top: -10px;
}

ol.steps__list {
  display: flex;
  margin: 0;
}
.steps__list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 30px;
  height: 100px;
  padding: 10px 20px 0 20px;
  background-color: white;
  &:hover{
    padding: 15px;
  }
}

.steps__list__item__number {
  left: -5%;
  top: -27%;
  position: relative;
  
}
.steps__list__item__title {
  font-weight: bold;
  text-align: center;
}

.header_restaurant {
  
  justify-content: left;
  margin-left: 25px;
  display: flex;
  }
    
.restaurant__title{
  font-size: 25px;
  margin-left: 15%;
}

.groupe_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  

.card__restaurant {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px;
  width:100%;
  box-shadow: $box_shadow;
  display: flex;
  @include transform_card;
}
.restaurant__prev__img {
  height: 53%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.article__restaurant__prev{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.list__footer {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.header__footer {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size:32px;
  }
}

/************************************/



/***************version tablette 768 pixels*******************/

@media screen and (min-width: 768px){
  .groupe_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }  
  .restaurant__title{
    margin-left: 60px;
  }
  .article__restaurant__prev{
    width: 45%;
  }
 
  .link_footer:hover{
    transform: scale(1.2);
    transition: 0.2s;
  }
  .list__footer {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  }
  .header__footer {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size:32px;
    }
}


/*******************************************************/



.restaurant__prev__title {
  margin: 15px 0 0 15px;
}
.restaurant__prev__subtitle {
  margin: 0 0 15px 15px;
}

.restaurant__prev__img__label {
  font-size: 12pt;
  font-weight: bold;
  background-color: $couleur_3;
  color: #1b6150;
  padding: 6px 10px 6px 10px;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 3px;
  animation:label 2s steps(4,end) infinite both;
 
/*****************animation label**********************/
 }
 @keyframes label{
  from{transform:scale(1);
    transform-origin:center center;
    animation-timing-function:ease-out
}
  10%{
    transform:scale(.91);
    animation-timing-function:ease-in
  }
  17%{
    transform:scale(.98);
    animation-timing-function:ease-out
  }
  33%{
    transform:scale(.87);
    animation-timing-function:ease-in
  }
  45%{
    transform:scale(1);
    animation-timing-function:ease-out
  }
}
.card__restaurant__img{
  position: relative;
}
.restaurant__prev__img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.txt_ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coeur{
  margin-right: 15px;
}


/*************************footer**************************/

footer {
  background-color: $couleur_4;
  color: white;
  padding: 30px;
  
}
.mail{
    color: white;
  }
.header__footer {
  font-family: 'Shrikhand', 'cursive';
  font-weight: normal;
}
.link_footer{
  color: white;
  transform: scale(1.05);
  transition: 0.2s;

&:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
}
.list__footer {
  list-style: none;
  padding: 2px;
}
.fa-utensils,
.fa-hands-helping {
  margin-right: 15px;
  font-size: small;
  width: 10px;
}
.list__item__footer {
  margin: 15px 0;
}
