.coeur{
    display: flex;
    justify-content: center;
    margin-left: 15px; 
    padding-right: 10px;
    padding-bottom: 15px;
}
.coeur_vide {
    font-size: 25px;
    position: absolute;
    text-decoration: none; 
    opacity: 0.5;  
}
.coeur:hover .coeur_vide{
    opacity: 0;  
}
.coeur_plein{
    font-size: 25px;
    position: relative;
    text-decoration: none;
    opacity: 0;
}
.coeur:hover .coeur_plein {
    opacity: 1;
    background: -webkit-linear-gradient(#9356dc,#ff79da);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s linear 0s;
  }