.coeur{
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.coeur_vide {
    font-size: 25px;
    position: absolute;
    text-decoration: none; 
    opacity: 0.5;  
}
.coeur:hover .coeur_vide{
    opacity: 0;  
    transition: all 0.5s linear 0s;
}
.coeur_plein{
    font-size: 25px;
    position: relative;
    text-decoration: none;
    opacity: 0;
}
.coeur:hover .coeur_plein {
    opacity: 1;
    background: -webkit-linear-gradient(#9356dc,#ff79da);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s linear 0s;
  }