$couleur_1: #9356dc;
$couleur_2: #ff79da;
$couleur_3: #99E2D0;
$couleur_4: #383636;
$box_shadow: 5px 5px 5px #c5c0c0;
$gradient:  linear-gradient(0deg, #9356dc, #ff79da);
$light_gradient: linear-gradient(0deg, #a66eeb, #f385d4);
$delay: .5s;
$bgloader:rgba(175, 174, 174, 0.8); 


 